body {
  font-family: "Space Mono", monospace;
}
h1 {
  color: #ff7ac6;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #b891f3;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
a {
  text-decoration: none;
  color: #86e3f4;
}
small {
  color: #b891f3;
}
li::first-letter {
  text-transform: capitalize;
}
.themes-weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.themes-weather {
  padding: 20px;
  border: 1px solid #343846;
  border-radius: 5px;
  background-color: #282a36;
}
.overview {
  margin-bottom: 20px;
}
.btn {
  background-color: #b891f3;
  border: #b891f3;
  color: #e8e8e3;
}
.btn:hover {
  background-color: #49ce6d;
}
.weather-temperature img {
  margin-right: 5px;
  height: 74px;
  width: 74px;
  margin-top: -25px;
}
.weather-temperature strong {
  color: #f1fb8c;
  font-size: 50px;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #f1fb8c;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #86e3f4;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
